* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*NAVBAR*/
#navbar {
	background-color: #E29578 ;
	width: 100vw;
	overflow: hidden;
	font-family: "Gill Sans", sans-serif;
}

#navbar img {
	/*width: auto;*/
    height: 70px;
    opacity: 1.0;
    /*background-color: blue;*/
}

#navbar img:hover {
	opacity: 0.5;
	text-decoration: none;
}
.ul-list {
	padding: 10px 10px;
	color: white;
	font-size: 15px;
	/*background-color: blue;*/
}

li {
	/*display: inline;*/
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

li a:hover {
	background-color: #81B29A;
	color: white;
	text-decoration: none;
}

/*JUMBOTRON*/
#jumbotron-main {
	background-image: url(../images/cover/cover2.jpeg); 
	background-size: 100%;
	width: 100vw;
	height: 75px;
	padding-top: 20px;
}

#jumbotron-form {
	background-image: url(../images/cover/cover3.jpeg); 
	background-size: 100%;
	width: 100vw;
	height: 100px;
	padding-top: 20px;
}

#jumbotron-design {
	background-image: url(../images/cover/cover4.jpg); 
	background-size: 100%;
	width: 100vw;
	height: 100px;
	padding-top: 20px;
}

#jumbotron-plant {
	background-image: url(../images/cover/cover5.jpeg); 
	background-size: 100%;
	width: 100vw;
	height: 100px;
	padding-top: 20px;
}

#jumbotron-pot {
	background-image: url(../images/cover/cover6.jpeg); 
	background-size: 100%;
	width: 100vw;
	height: 100px;
	padding-top: 20px;
}

.container h2 {
	text-align: center;
	color: white;
	/*justify-content: center;*/
	text-shadow: 1px 1px 3px black;
	font-family: "Optima", sans-serif;
}

/*MAIN*/
.center {
	display: flex;
	align-content: center;
	justify-content: center;
	margin-left: 15%;
	margin-right: 15%;
}

.center-main {
	display: flex;
	align-content: center;
	justify-content: center;
	/*margin-left: 15%;*/
	/*margin-right: 15%;*/
}

/*PLANT*/


/*POTS*/
.row {
  	display: flex;
  	flex-wrap: wrap;
  	width: 100vw;
}

.column {
  	-ms-flex: 25%; 
  	flex: 25%;
  	max-width: 25%;
  	padding: 20px;
  	/*background-color: #E9ECEF;*/
	line-height: 90%;
	background-color: #eddcd2;
	/*border: 1px solid #2B2D42;*/
}

.column h3, h5, p {
	/*padding-top: 10px;*/
	text-align: center;
	/*background-color: #E9ECEF;*/
	/*line-height: 80%;*/
	/*border: 1px solid #2B2D42;*/
	*/
}

.column img {
  	vertical-align: middle;
  	width: 100%;
}

.column img:hover {
  	opacity: 0.5;
}

.row:after {
  	content: "";
  	display: table;
  	clear: both;
}

/*DESIGN*/
.carousel-caption {
	text-shadow: 1px 1px 3px black;
}

.carousel-item img {
/*	width: auto;*/
	height: 400px;
}

.grid-container {
  	display: grid;
  	grid-gap: 5px;
  	/*background-color: gray;*/
  	padding-top: 10px;
  	padding-bottom: 10px;
}

.grid-item {
  	background-color: rgba(255, 255, 255, 0.8);
  	text-align: center;
  	/*justify-content: middle;*/
	background-color: #eddcd2;
}

.grid-item img {
  	width: 100%;
}
.grid-item img:hover {
  	opacity: 0.8;
}

.grid-item p {
  	width: 100%;
}

.item1 {
	grid-column: 1;
	grid-row: 1;
}
.item2 {
	grid-column: 2;
	grid-row: 1;
}

.item3 {
	grid-column: 1;
	grid-row: 2;
}
.item4 {
	grid-column: 2;
	grid-row: 2;
}

.item5 {
	grid-column: 1;
	grid-row: 3;
}
.item6 {
	grid-column: 2;
	grid-row: 3;
}

/*FORM INDEX*/
input {
	float: left;
}

textarea {
  	float: left;
}

.submit-btn {
	background-color: #E29578;
	padding: 10px;
	border: solid 1px black;
	margin-top: 20px;
	border-radius: 5px;
}

.submit-btn:hover {
	opacity: 0.8;
	background-color: #81B29A;
}

.item10 {
	grid-column: 1 / span 2;
	grid-row: 1;
	/*height: 500px;*/
}

.item11 {
	grid-column: 3;
	grid-row: 1;
	width: 400px;
}

/*FOOTER*/
footer {
	background-color: gray;
	padding-left: 10px;
}
.item7 {
	grid-column: 1;
	grid-row: 4 / span 5;
	text-align: center;
	background-color: gray;
}

.item8 {
	grid-column: 2;
	grid-row: 4;
	text-align: center;
	background-color: gray;
}

.item9 {
	grid-column: 2;
	grid-row: 5;
	text-align: center;
	background-color: gray;
}

.grid-item h2, a {
	font-size: 20px;
	color: white;
}

.grid-item h4, i {
	font-size: 15px;
	color: white;
}

/*.grid-item i {
	font-size: 15px;
	color: white;
}*/

/*PHONE DISPLAY*/
@media screen and (max-width: 400px) {
	 /*NAVBAR*/
	#navbar img {
    	height: 35px;
    }
	.ul-list {
	 	font-size: 10px;
	 }

	.column {
    	-ms-flex: 100%;
    	flex: 100%;
    	max-width: 100%;
  	}

  	.center {
  		margin-left: 5%;
  		margin-right: 5%;
  	}

	.grid-container {
    	max-width: 100%;
  	}

  	.grid-item {
  		max-width: 100%;
  	}

  	.grid-item h5 {
  		font-size: 15px;
  	}

  	.grid-item p {
  		font-size: 10px;
  	}

  	/*JUMBOTRON*/
  	.container h2 {
		font-size: 20px;
	}

  	/*MAIN*/
   	#row .column {
		flex-direction: row-reverse;
	}

	.carousel-item img {
		width: 500px;
		height: 300px;
	}
	/*MAIN*/
	.item1 {
		grid-column: 1;
		grid-row: 1;
	}
	.item2 {
		grid-column: 1;
		grid-row: 2;
	}

	.item3 {
		grid-column: 1;
		grid-row: 3;
	}
	.item4 {
		grid-column: 1;
		grid-row: 4;
	}

	.item5 {
		grid-column: 1;
		grid-row: 5;
	}
	.item6 {
		grid-column: 1;
		grid-row: 6;
	}

	/*FORM*/
	input {
		width: 150px;	
	}

	iframe {
		/*max-width: 100%;*/
		width: 300px;
		height: 300px;
		/*padding: 0;*/
	}

	textarea {
		width: 300px;
	}

	/*FOOTER*/
	.grid-item h2, a {
		font-size: 15px;
	}

	.grid-item h4 {
		font-size: 10px;
	}

	.item7 {
		grid-column: 1;
		grid-row: 7 / span 8;
		color: white;
	}
	.item8 {
		grid-column: 2;
		grid-row: 7;
		color: white;
	}
	.item9 {
		grid-column: 2;
		grid-row: 8;
		color: white;
	}

	label {
		font-size: 15px;
	}

	.item10 {
		grid-column: 1 / span 2;
		grid-row: 1;
		/*height: 400px;*/
		}

	.item11 {
		grid-column: 1 / span 2;
		grid-row: 2;
		/*width: 400px;*/
	}
}

/*TABLET STYLE*/
@media screen and (min-width: 401px) and (max-width: 960px) {
	/*NAVBAR*/
	#navbar img {
    	height: 70px;
    }

	.ul-list {
	 	/*background-color: orange;*/
	 	font-size: 15px;
	 }

	.column {
    	-ms-flex: 50%;
    	flex: 50%;
    	max-width: 50%;
  	}

  	.center {
  		margin-left: 5%;
  		margin-right: 5%;
  	}

	/*MAIN*/
	.grid-container {
    	max-width: 100%;
    	padding: 10px;
  	}

  	.grid-item {
    	max-width: 100%;
  	}

  	/*FORM*/
	input {
		width: 200px;
	}

	iframe {
		max-width: 100%;
		height: 400px;
		width: 300px;
	}

	textarea {
		/*max-width: 80%;*/
		width: 300px;
	}

	/*FOOTER*/
	.item7 {
		grid-column: 1;
		grid-row: 4 / span 5;
		/*text-align: center;*/
	}
	.item8 {
		grid-column: 2;
		grid-row: 4;
		/*text-align: center;*/
	}
	.item9 {
		grid-column: 2;
		grid-row: 5;
		/*text-align: center;*/
	}

}

/*DESKTOP STYLE*/
@media screen and (min-width: 769px)  and (max-width: 1024 px) {
	/*NAVBAR*/
	#navbar img {
    	height: 90px;
    }
	.ul-list {
	 	/*background-color: orange;*/
	 	font-size: 15px;
	 }

	.column {
    	-ms-flex: 33%;
    	flex: 33%;
    	max-width: 33%;
  	}
  	
  	/*JUMBOTRON*/
  	.container h2 {
		font-size: 20px;
	}

  	/*MAIN*/
	.carousel-item img {
		width: 700px;
		height: 500px;
	}

	/*MAIN*/
	.grid-container {
    	max-width: 100%;
  	}

  	.grid-item h5 {
  		font-size: 25px;
  	}

  	.grid-item p {
  		font-size: 20px;
  	}

	/*FORM*/
	input {
		width: 300px;
	}

	iframe {
		max-width: 100%;
		width: 1000px;
		height: 600px;
	}

	textarea {
		max-width: 90%;
	}

	.item10 {
		grid-column: 1;
		grid-row: 1;
		height: 500px;
		width: 500px;
	}

	.item11 {
		grid-column: 2;
		grid-row: 1;
		width: 500px;
	}
}

/*COLORS*/
/*
#E29578 orange

#2B2D42 Dark

#E9ECEF gray

#81B29A green*/


      
/*FOOTER*/
/*footer {
	color: white;
	display: block;
	clear: both;
	text-align: center;
	justify-content: middle;
	background-color: gray;*/
	/*background-color: blue;*/
	/*width: 100vw;*/
	/*line-height: 80%;*/
/*}

.contact h2, h4 {
	line-height: 80%;
}

.footer-icon i, h2 {
	color: white;
	line-height: 80%;
}

.footer-icon i:hover {
	opacity: 0.5;
	color: white;
	line-height: 80%;
}*/

/*FOOTER*/
/*.contact h2 {
	font-size: 12px;
	line-height: 80%;
}
.contact h4 {
	font-size: 10px;
	line-height: 80%;
}
.footer-icon h2 {
	font-size: 12px;
	line-height: 80%;
}
.footer-icon i {
	font-size: 12px;
	line-height: 80%;
}*/