
/*BACKGROUND*/
.view {
	background-size: 100%; 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center center;
	background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('../images/bg1.jpeg');
}

.center {
	margin: auto;
	width: 100vw;
	height: 100vh;
	/*background-color: red;*/
}

.bg-logo img {
	display: block;
	margin: auto;
}

#btn {
	margin: auto;
	text-align: center;
	width: 250px;
	padding: 10px;
	text-decoration: none;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: #E29578;
	border: 2px solid white;
	border-radius: 5px;
}

#btn a {
	color: white;
	/*font-size: 20px;*/
	font-family: Gill Sans Extrabold, sans-serif;
}


#btn a:hover {
	/*background-color: #81B29A;*/
	color: #2B2D42;
    opacity: 1.0;
    border: none;
    /*padding: 10px;*/
    text-decoration: none;
}

.icons {
	text-align: center;
	margin: 50px;
}

.icons i:hover {
	opacity: 0.7;
	color: white;
	text-decoration: none;
}

/*MEDIA QUERY*/

/**PHONE DISPLAY*/

@media screen and (max-width: 400px) {
	.icons i {
		font-size: 20px;
		color: white;
	}
	
	.bg-logo img {
		width: 300px;
	}

	#btn a {
		font-size: 12px;
		width: 150px;
	}

}

/*TABLET DISPLAY*/

@media screen and (min-width: 401px) and (max-width: 960px) {
	.bg-logo img {
		width: 500px;

		/*opacity: 1.5;*/
	}

	.icons i {
		font-size: 40px;
		color: white;

	}
	#btn a {
		font-size: 15px;
		width: 200px;
	}
}

/*DESKTOP DISPLAY*/
@media screen and (min-width: 961px) {
	.bg-logo img {
		width: 500px;
	}

	.icons i {
		font-size: 30px;
		color: white;
	}

	#btn a {
		font-size: 20px;
		width: 200px;
	}

}


/*COLORS*/
/*
#E29578 orange

#2B2D42 Dark

#E9ECEF gray

#81B29A green*/
